/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #f8f9fa;
    color: #333;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 20px 8%;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 0 2px 10px rgba(0,0,0,0.05);
}
.logo {
    font-size: 1 5rem;
    font-weight: bold;
    color: #333;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}
.nav-links a:hover {
    color: #4a7dff;
}


/* Hero Section */
.hero {
    text-align: center;
    padding: 40px 20px;
    background: white;
}

.hero img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #00adb5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #007b80;
}
/* Skills Section */
#skills {
    background-color: white;
    padding: 40px 20px;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.skill {
    background-color: #00adb5;
    color: white;
    padding: 10px 18px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Work Section */
.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    width: 300px;
    height: 200px;
    background: #ddd; /* This shows empty space if no image */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SOCIAL MEDIA BUTTON */
.contact_social {
display: flex;
gap: 1rm;
justify-content: center;
flex-wrap: wrap;
}

.btn-social {
    padding: .75rem 1.5rem;
    color: #fff;
    border-radius:  .5rem;
    text-decoration: none;
    font-weight: 600;
    transition: transform .3s, box-shadow .3s;
}

/* Specific Brand Color */
.linkedin { background-color: #0077b5;}
.facebook { background-color: #1877f2;}
.instagram { background-color: #e4405f;}

.btn-social:hover {
    transform: translatey(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
/* FOOTER STYLE */
.footer{
    background-color: #0e2431;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
